.wrapper {
    width: 80%;
    min-width: 800px;
    background-color: #e2d2b0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 5px #2E0000;
}

header {
    background-color: #D2B48C;
    background-image: url("./assets/JavaJamHomepageHeader.gif");
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

body {
    color: #2E0000;
    font-family: Verdana;
    background-image: url(https://userpages.umbc.edu/~geet2/ch10javajam/javabackground.gif);
    background-repeat: repeat;
}

nav {
    float: left;
    width: auto;
    height: 100%;
    text-align: center;
}
nav ul { list-style-type: none; }
nav a { 
    text-decoration: none; 
    color: #7d5540;
    font-weight: bolder;
    font-size: large;
}
nav a:visited { color: #A58366; }

.content {
    margin-left: 150px;
    padding: 1px 20px 20px 20px;
    background-color: #F5F5DC;
}

/* index styles */

.content ul {
    padding-left: 395px;
}

.content li {
    list-style: none;
    background-image: url("./assets/coffee_bulletpoint.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding: 5px 0px 0px 25px;
}

#indexAddress {
    padding-left: 395px;
}

#coffeehouseimage {
    float: left;
    padding-right: 40px;
    margin-left: 40px;
}

footer {
    text-align: center;
    background-color: #CDB591;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 10px;
    font-style: italic;
}

/* menu table styles */

.menutable {
    border: none;
    border-spacing: 2px;
    margin-left: 100px;
    width: 80%;
}

.menutable tr:nth-of-type(odd) {
    background-color: #D2B48C;
}

.menutable td:first-of-type {
    text-align: center;
    font-weight: bold;
}

.menutable td, tr {
    padding: 20px;
}

/* music styles */

.musicWrapper {
    margin-left: 200px;
    padding-right: 200px;
}

.musicWrapper h3 {
    background-color:#e2d2b0;
}

.musicWrapper td, tr {
    padding: 0px 20px 0px 20px;
}

.musicWrapper td {
    vertical-align: top;
}

/* job styles */

label {
    float: left;
    text-align: right;
    width: 120px;
}

input {
    margin: 0px 0px 0px 20px;
}

textarea {
    margin: 0px 0px 0px 20px;
}